section {
  position: fixed;
  top: 0;
  transform: translate(50%, 50%);
  width: 80%;
  height: 50%;
  right: 50%;
  /* backdrop-filter: blur(20px); */
  border-radius: 20px;
  background: rgb(255 255 255 / 92%);
  border: #8fc43e 6px solid;
  box-shadow: 1px 1px 24px 7px #0000004d;
  z-index: 1111111111111111111;

  display: grid;
  justify-items: center;
  align-content: center;

  div {
    margin: -34px 12px 12px 12px;
    text-align: center;
    p {
      font-size: 83px;
    }
  }
  button {
    width: 130px;
    height: 35px;
    background: #8fc43e;
    border: #f8bf1a 1px solid;
    border-radius: 6px;
    font-size: 15px;
  }
}
