<nav>
  <div class="logo">
    <p class="amh">ቴሌገበያ</p>
    <p class="eng">telegebeya</p>
  </div>

  <div class="rightSide">
    <button>
      <img src="./../../../assets/icon/Icon awesome-search.svg" alt="" />
    </button>
    <button>
      <img src="./../../../assets/icon/Icon feather-shopping-cart.svg" alt="" />
    </button>
    <button>
      <img src="./../../../assets/icon/Icon feather-user.svg" alt="" />
    </button>
    <a href="https:/ethiotelecom.com">
      <img src="./../../../assets/icon/NoPath.png" alt="" />
    </a>
  </div>
</nav>
