footer {
  background: #8ac444;
  display: flex;
  margin: 0px 26px 3.5rem 26px;
  border-radius: 20px;
  height: 13rem;

  .logo {
    img {
      width: 9rem;
      margin: 30px;
    }
  }
  .align-right {
    display: grid;
    justify-items: center;

    .links {
      display: flex;
      position: relative;
      top: 1rem;

      a {
        color: white;
        font-size: 14px;
        font-family: system-ui;
        margin: 3rem auto 15px 19px;
      }
    }
    .sm-links {
      display: flex;
      align-items: center;
      a {
        img {
          width: 26px;
          margin: 8px;
        }
      }
    }
    .copyRight {
      font-size: 12px;
      font-family: system-ui;
      color: white;
    }
  }
}
