<footer>
  <div class="logo">
    <img src="./../../../assets/icon/Group 15.svg" alt="" />
  </div>

  <div class="align-right">
    <div class="links">
      <a href="">Terms & Conditions</a>
      <a href="">Refund and Return Policy</a>
      <a href="">Privacy Policy</a>
      <a href="">FAQ</a>
      <a href="">Contact Us</a>
    </div>
    <div class="sm-links">
      <a href="">
        <img src="./../../../assets/icon/Icon awesome-facebook.svg" alt="" />
      </a>
      <a href="">
        <img src="./../../../assets/icon/Icon awesome-instagram.svg" alt="" />
      </a>
      <a href="">
        <img src="./../../../assets/icon/Icon awesome-twitter.svg" alt="" />
      </a>
      <a href="">
        <img
          src="./../../../assets/icon/Icon awesome-telegram-plane.svg"
          alt=""
        />
      </a>
      <a href="">
        <img src="./../../../assets/icon/Icon awesome-youtube.svg" alt="" />
      </a>
      <a href="">
        <img src="./../../../assets/icon/Icon awesome-linkedin.svg" alt="" />
      </a>
    </div>
    <div class="copyRight">© 2022 Ethio telecom, All rights reserved.</div>
  </div>
</footer>
